Demo/.idea/
Demo/.vs/
Demo/debug\.log
Demo/bin/
Demo/obj/
Demo/packages/
Demo/MigrationBackup/
Demo/Resources/Resource\.designer\.cs
Demo/GPUCache
Lib/.idea/
Lib/.vs/
Lib/debug\.log
Lib/bin/
Lib/obj/
Lib/packages/
Lib/MigrationBackup/
Lib/Resources/Resource\.designer\.cs
Lib/GPUCache